body {
  background-color: gainsboro;
}

main {
  background-color: white;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 60px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

#category {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 8px;
}

#top{
  display: flex;
  justify-content: space-between;
}

#title {
  font-size: larger;
  font-weight: bold;
}

.profile {
  border-bottom: solid 4px rgb(136, 133, 132);
}

.profile #name {
  font-size: xxx-large;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}

.profile #slogun {
  font-size: larger;
  font-weight: bold;
}

.profile ul {
  font-size: small;
  font-style: italic;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.profile a {
  color: black;
}