.wrapper {
  border: 2px dashed, blueviolet;
  max-width: 700px;
  margin: 0 auto;
}

.profile {
  /* border: 2px dashed, blueviolet; */
}

.profile .container {
  display: flex;
  align-items: center;
}

.profile .container .slogun {
  width: 60%;
  margin-left: 1%;
}

.profile .container .info {
  width: 40%;
}

.comunication {
  /* border: 2px dashed, blueviolet; */
  margin-top: 1%;
}

.exp {
  /* border: 2px dashed, blueviolet; */
  margin-top: 1%;
}

.edu {
  /* border: 2px dashed, blueviolet; */
  margin-top: 1%;
}

.project {
  /* border: 2px dashed, blueviolet; */
  margin-top: 1%;
}

h1 {
  margin-top: 0;
  margin-left: 1%;
  margin-bottom: 0%;
}

ul {
  list-style: none;
  padding-left: 1%;
}

a {
  color: black;
}

span {
  display: block;
}
